.baslik{
    color: darkred;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.linkler{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.linkler li{
    float: left;
}

.linkler li a{
    display: block;
    padding:12px 16px;
    background-color: #27ae60;
    color:white;
    text-decoration:none;
}

.linkler li a:hover{
    background-color:#23834c; 
}

.paragraf{
    text-align: center;
}

.urunler{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

.urunler li img{
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}